@using MainHub.Internal.PeopleAndCulture.AbsentManagement.Shared.HeaderAreaComponent;
@inherits LayoutComponentBase

<PageTitle>SkillHub - Absences</PageTitle>


<AuthorizeView Roles="SkillHub.User, SkillHub.Supervisor">
    <Authorized>
        <nav class="sb-topnav navbar navbar-expand -navbar-dark bg-dark text-light">
            <!-- Sidebar Toggle-->
            <SideBarToggleArea />
            <!-- Navbar Brand-->
            <BrandArea />
            ﻿<div class="d-none d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0" />
            <!-- Switch Theme-->

            <!--Profile Area-->
            <ProfileArea />
            <!-- Navbar-->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion @(GetSidenavClass())">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <PagesArea />
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <article class="content px-4">
                        @Body
                        <div class="d-flex justify-content-center">
                            <RadzenDialog />
                            <RadzenTooltip />
                        </div>
                    </article>
                </main>
                <FooterArea />
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Restricted/>
    </NotAuthorized>
</AuthorizeView>




