body {
    background-image: url('https://media.istockphoto.com/id/919850588/pt/foto/blue-gradient-soft-background.jpg?s=170667a&w=0&k=20&c=0cmd-08ZFFPApdzGprdWH5-pC5uJlVL_A2XUeSWAc1o=');
    overflow: hidden;
    background-size: cover;
}
