<AuthorizeView Policy="Supervisor">
    <Authorized>
        <footer class="py-4 bg-light mt-auto" style="height:5.5%; margin-bottom: 1.5%;">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Powered by MainHub 2023</div>
            <img src="https://www.mainhub.pt/media/o40dpa52/mainhub__logo_yellow_grey_trans.png" style="max-width: 120px;" />
            <div>

            </div>
        </div>
    </div>
</footer>
    </Authorized>
</AuthorizeView>