<AuthorizeView Policy="Supervisor">
    <Authorized>
        <a class="navbar-brand ps-3 text-white" href="ShowPartnerData" style="margin:0%; text-align:center;">SkillHub 💡</a>
<NavBarToggle />
    </Authorized>
</AuthorizeView>