<footer class="py-3 bg-light">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Skill Hub @DateTime.Now.Year</div>
            <div class="img-fluid" style="height: 25px;" > <img src="assets/img/light-bulb.png" style="width:40px;"/> </div>
            <div>
                Powered by <a href="https://www.mainhub.pt/">MainHub</a>
            </div>
        </div>
    </div>
</footer>