<div class="align-left ms-2">
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 m-1 bg-light"
            style="z-index: 1020;"
            id="sidebarToggle"
            href="#!"
            @onclick="async () => await ToggleSideBar(JsRuntime)">
        <i id="sidebarToggleIcon" class="fas fa-arrow-left text-dark"></i>
    </button>
</div>
